.animated {
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: .8s;
}

.slideUp {
  animation-name: slideUp;
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
